/* login page  */
 body{
  
  margin: 0;
  padding: 0;
  height: 100%;
 }
 
 .split-screen{
  display: flex;
  height: 100vh;
  width: 100vw;
 }
 .left{
  width: 50%;
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .right{
  width: 50%;
    padding-left: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

 }
 .form-container {
    width: 50%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

 .login{
 display: flex;
 flex-direction: column;
 gap: 20px;
 width: 100%;
 }
 .formgroup{
  display: flex;
  flex-direction: column;
  width: 100%;
 }
 .userData{
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s,box-shadow 0.3s;
 }
 .userData:focus{
  border-color:rgb(141, 101, 6);
  box-shadow: 0 0 0 3px rgb(195, 188, 171);
  outline: none;
 }
 .userButton{
  width: 100%;
  padding: 14px;
  background-color: rgba(112, 112, 98, 0.295);
  color:rgb(77, 55, 1); 
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
   transition: background-color 0.3s, transform 0.2s;
 }
 .userButton:hover{
  background-color: rgba(74, 75, 67, 0.079);
  
 }
 .logo{
    height: auto;
    max-width: 300px;
    opacity: 0.9;
    
 }
 /* HRDashboard page */
 .hr-container{
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgb(220, 193, 131);
  font-family: Arial, Helvetica, sans-serif;
 }
 .welcome-text{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
 }

 .filters{
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
 }

 .search-input, .role-select{
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
 }

 .add-employee-btn{
  padding: 10px 20px;
  color:rgb(17, 17, 17);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-employee-btn:hover{
  background-color: rgba(224, 110, 110, 0.326);
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.employee-table th {
  background-color: #f2f2f2;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.employee-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

/* Buttons */
.edit-btn,
.delete-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: rgb(208, 166, 69);
  color: white;
  margin-right: 10px;
}

.delete-btn {
  background-color: red;
  color: white;
}

.edit-btn:hover {
  background-color: rgb(235, 182, 57);
}

.delete-btn:hover {
  background-color: #b30000;
}
/* crud by hr */
.model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.model-content {
  background: rgb(235, 221, 189);
   width: 400px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
/* user profile */
.top-right-menu {

  position: absolute;
  top: 15px;
  right: 25px;
  z-index: 999;
}

/* User info row */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  padding-top:18px;
}

/* Avatar circle with initials */
.avatar-circle {
  width: 42px;
  height: 42px;
  background: #4b6cb7;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Full name */
.user-name {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

/* Dropdown menu */
.dropdown-box {
  position: absolute;
  top: 55px;
  right: 0;
  background: white;
  width: 170px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.25s ease-in-out;
}

.dropdown-box p {
  margin: 8px 0;
  font-size: 15px;
  cursor: pointer;
  padding: 6px 0;
}

.dropdown-box p.logout {
  color: red;
  font-weight: 700;
}
/* Top-active-bars */
.top-nav {
  display: flex;
  gap: 25px;
  padding: 12px 20px;
  background: rgb(235, 221, 188);; 
  border-bottom: 0px solid #d8c8bb;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  
}

.nav-item {
  cursor: pointer;
  padding-bottom: 5px;
}

.nav-item.active-tab {
  border-bottom: 3px solid #8b3d57;
  font-weight: 700;
  color: #8b3d57;
}
/* TeamDetails component */
.team-details-container {
  padding: 20px 40px;
}

.employee-list-title {
  font-size: 45px;
  font-weight: 80px;
  color: #4a4a4a;
  margin-bottom: 20px;
  padding-bottom:25px;
  margin-bottom: 0px; 
  padding-bottom: 10px; 
}

.team-filters {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 25px;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 180px;
  font-size: 14px;
   margin-bottom: 0px;
   
}

.role-select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
  font-size: 14px;
   margin-bottom: 0px;
 
}
.team-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 10px;
}

.team-cards-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: flex-start;
  margin-top: 10px;
  
}

.team-card {
  width: 280px;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.team-card-header {
  display: flex;
  justify-content: space-between;
  align-items:   center;
}

.team-avtar {
  font-size: 60px;
  color: #444;
}

.emp-id {
  font-size: 14px;
  font-weight: 600;
  color: #666;
}
.emp-name {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
}

.emp-role {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.emp-email {
  font-size: 13px;
  color: #777;
  margin-bottom: 6px;
}

.emp-manager {
  font-size: 13px;
  color: #444;
  margin-bottom: 10px;
}

.leave-balance {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  font-weight: 600;
}
.nav-item {
    color: #333 !important;        
    text-decoration: none !important;
    cursor: pointer;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.3s;
}


/* Hover effect */
.nav-item:hover {
    background-color: #f0f0f0;
}

/* leave balance */
.leave-balance-main {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  align-items: flex-start;
}

/* LEFT CARD */
.employee-card {
  width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
 cursor: pointer;
}

.lb-avatar {
  font-size: 70px;
  color: #444;
}

.lb-id {
  color: #555;
  font-size: 14px;
}

.lb-name {
  font-size: 22px;
  margin: 10px 0;
  text-transform: capitalize;
}

.lb-role {
  color: #555;
  margin-bottom: 10px;
}

.lb-email, .lb-report {
  color: #777;
  font-size: 14px;
  margin: 5px 0;
}

.lb-leave {
  font-weight: 600;
  margin-top: 10px;
}

/* CENTER CHART */
.lb-chart-section {
  text-align: center;
  cursor: pointer;
}

.lb-chart-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
} 

.lb-chart-legend {
  margin-top: 20px;
}

.lb-legend-item {
  font-size: 14px;
  margin: 5px 0;
}

/* Legend colors */
.balance-color {
  width: 14px;
  height: 14px;
  background: red;
  display: inline-block;
  margin-right: 6px;
  border-radius: 50%;
}

.unpaid-color {
  width: 14px;
  height: 14px;
  background: #c0392b;
  display: inline-block;
  margin-right: 6px;
  border-radius: 50%;
}

/* RIGHT CALENDAR */
.lb-calendar {
  width: 280px;
  text-align: center;
}

.lb-calendar-legend {
  margin-top: 15px;
  font-size: 14px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  margin-left: 12px;
}

.today-dot {
  background: yellow;
}

.leave-dot {
  background: darkgreen;
}

.holiday-dot {
  background: red;
}
